{{#main_package}}
package {{&main_package_prefix}}
package object {{&main_package_suffix}} {
{{/main_package}}

import java.util.Date
import java.io.File

{{#packages}}
    {{#imports}}
    import {{&name}}
    {{/imports}}

    {{#aliases}}
    type {{& name }} = {{& alias }}{{#underlying_type}}[{{& underlying_type }}]{{/underlying_type}}⮐
    {{/aliases}}

    {{#traits}}
    trait I{{& name}} {⮐
    {{#fields}}
        def {{&name}}: {{&type_name}}⮐
    {{/fields}}
    }⮐
    {{/traits}}

    {{#classes}}
    case class {{& name }}({{#fields}}{{&name}}: {{&type_name}}{{^last}}, {{/last}}{{/fields}}) {{#trait}}extends I{{&name}} {{/trait}}⮐
    {{/classes}}⮐
{{/packages}}
}
