{{!main_package}}
{{!package {{&main_package}}
{{!main_package}}

{{#controller_imports}}
import {{&name}}
{{/controller_imports}}

{{#unmanaged_imports}}
import {{&name}}
{{/unmanaged_imports}}

{{#packages}}
{{#controllers}}


package {{&main_package}} {

{{!imports}}
{{!    import {{&name}}
{{!imports}}

    class {{&controller}} extends {{&base}} {
    {{#methods}}
        {{&signature}}
            {{#parameters?}}
            input: ({{#parameters}}{{&type}}{{^last}}, {{/last}}{{/parameters}}) =>
            val ({{#parameters}}{{&name}}{{^last}}, {{/last}}{{/parameters}}) = input⮐
            {{/parameters?}}
            {{#single_parameter?}}({{&name}}: {{&type}}) =>⮐{{/single_parameter?}}
            {{&implementation}}
            {{&dead_code}}
        } {{&comment}}
    {{/methods}}
    }
}

{{/controllers}}

{{/packages}}