package {{main_package}}

import play.api.mvc._
import Security.AuthenticatedBuilder
import de.zalando.play.controllers.PlayBodyParsing
{{for import in imports}}
import {{import.name}}
{{/for}}

{{for controller in controllers}}
{{if controller.security_trait}}
trait {{controller.security_trait}} extends SecurityExtractors {
    {{for m in controller.methods}}{{if m.needs_security}}
    object {{m.secure_action}} extends AuthenticatedBuilder(
        req => {
            val secureChecks = Seq({{for security_check in m.security_checks}}{{security_check.name}} _{{if security_check.isNotLast}}, {{/if}}{{/for}})
            val individualChecks: Seq[Option[_]] = secureChecks.map(_.apply(req))
            individualChecks.find(_.isEmpty).getOrElse(Option(individualChecks.flatten))
        }, unauthorizedContent)
    {{/if}}{{/for}}
}
{{/if}}
{{/for}}