



{{#controller_imports}}
import {{&name}}
{{/controller_imports}}

{{#unmanaged_imports}}
import {{&name}}
{{/unmanaged_imports}}

{{#controllers}}
package {{&effective_package}} { {{!main_package}}

    class {{&controller}} extends {{&base}} {
    {{#methods}}
        {{&signature}}
            {{#parameters?}}
            input: ({{#parameters}}{{&type_name}}{{^last}}, {{/last}}{{/parameters}}) =>
            val ({{#parameters}}{{&field_name}}{{^last}}, {{/last}}{{/parameters}}) = input⮐
            {{/parameters?}}
            {{#single_parameter?}}({{&field_name}}: {{&type_name}}) =>⮐{{/single_parameter?}}
            {{&implementation}}
            {{&dead_code}}
        } {{&comment}}
    {{/methods}}
    }
}
{{/controllers}}
